<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mallard">

    <xacro:macro name="lidar" params="name mass xyz">

    <link name="${name}">
    <visual>
      <geometry>
        <box size="0.06 0.061 0.048"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 0.8 1.0"/>
      </material>
      <origin xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.06 0.061 0.048"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0"/>
    </collision>

    <visual>
      <origin xyz="0 0 0.0425"/>
      <geometry>
        <cylinder radius="0.025" length="0.037"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 0.8 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.048"/>
      <geometry>
        <cylinder radius="0.025" length="0.037"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${mass}"/>
      <inertia ixx="0.00020" ixy="0.0" ixz="0.0" iyy="0.00020" iyz="0.0" izz="0.00015"/>
    </inertial>
  </link>

  <joint name="${name}" type="fixed">
    <origin xyz="${xyz}"/>
    <parent link="base_link"/>
    <child link="${name}"/>
  </joint>

  <gazebo reference="${name}">
     <material>Gazebo/Blue</material>
  </gazebo>

  </xacro:macro>

</robot>