<launch>
  <arg name="model" default="$(find mallard_urdf)/urdf/03-actuator-velocity.urdf"/>
  <arg name="rvizconfig" default="$(find mallard_urdf)/rviz/urdf.rviz" />
  <arg name="gui" default="true"/>
  

  <include file="$(find mallard_urdf)/launch/gazebo_mallard.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  <!-- Spawning Controllers (topic 3) -->
  <!-- loads joints.yaml into mallard_joint_state_controller namespace  -->
  <rosparam command="load"
            file="$(find mallard_urdf)/config/joints.yaml"
            ns="mallard_joint_state_controller" />
  <!-- Joint Control (topic 5). Make sure you add this ns to controller_manager/spawner-->
  <rosparam command="load"
            file="$(find mallard_urdf)/config/diffdrive_wheel.yaml"
            ns="mallard_actuator_controller" />  

  <!-- Then we call the controller_manager/spawner script with that namespace which loads it into Gazebo (topic 3) -->
  <node name="mallard_controller_spawner" pkg="controller_manager" type="spawner"
        args="mallard_joint_state_controller
              mallard_actuator_controller   
              --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/mallard_actuator_controller/cmd_vel"/>
  </node>

</launch>
